* {
  font-family: Lato;
}

%line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

%line-clamp-1 {
  -webkit-line-clamp: 1;
  @extend %line-clamp;
}

.file-content {
  padding: 10px;
  border: 1px solid #c7c7c7;
  display: flex;
  justify-content: center;
  margin: 0 0 4px;
}

img {
  object-fit: contain;
  width: 100%;
  cursor: pointer;
}

.upload-controller {
  border: 1px dashed #87c7ff;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  position: relative;
  // height: 100px;

  .uploader {
    cursor: pointer;
  }
}

.dragging::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(142, 196, 243, 0.2);
  pointer-events: none;
}

label {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4px 12px;
}

.upload-btn {
  background: #95abfb;
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
}

.file {
  width: 100%;
  display: grid;
  grid-template: "img info" / 50px auto;
  grid-gap: 6px;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    grid-area: img;
  }

  .file-detail {
    grid-area: info;
    display: grid;
    grid-template:
      "name action"
      "type action"
      "size action" / 1fr 20px;
  }

  .file-name {
    grid-area: name;
    @extend %line-clamp-1;
  }

  .file-info {
    font-size: 10px;
    color: #a1a1a1;
    @extend %line-clamp-1;

    &.size {
      grid-area: size;
    }

    &.type {
      grid-area: type;
    }
  }

  .delete {
    grid-area: action;
    align-self: center;
    text-align: center;
    cursor: pointer;
  }
}
